body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #1a1a1a !important;
    color: #f0f0f0 !important;
  }
  
  h1 {
    color: #f0f0f0
  }

  h2 {
    color: #003ec3;
  }

  h3 {
    color: rgb(127, 225, 255);
  }

  details {
    margin-bottom: 15px;
  }

  pre {
    background-color: #333;
    color: #eee;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
  }